---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: source=tok_16jUJi44VM564LCCkroVmjS2&plan=1&email=friend%40friend.com
    headers:
      Authorization:
      - Bearer sk_test_LQ2d3Gx2ltVvmkZv6bzzHHY8
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-08-19'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1441888700,
          "id": "cus_6xP8b4bpYF1H1P",
          "livemode": false,
          "description": null,
          "email": "friend@friend.com",
          "shipping": null,
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_6xP8b4bpYF1H1P/subscriptions",
            "data": [
              {
                "id": "sub_6xP8nBnWfb5nE3",
                "plan": {
                  "interval": "month",
                  "name": "Standard",
                  "created": 1441800546,
                  "amount": 999,
                  "currency": "gbp",
                  "id": "1",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_descriptor": "MYFLIX MONTHLY SUB"
                },
                "object": "subscription",
                "start": 1441888700,
                "status": "active",
                "customer": "cus_6xP8b4bpYF1H1P",
                "cancel_at_period_end": false,
                "current_period_start": 1441888700,
                "current_period_end": 1444480700,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "tax_percent": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "gbp",
          "sources": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_6xP8b4bpYF1H1P/sources",
            "data": [
              {
                "id": "card_16jUJi44VM564LCCazT2ONnD",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 1,
                "exp_year": 2017,
                "fingerprint": "oVapSLScRj2xH9u5",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "tokenization_method": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_6xP8b4bpYF1H1P"
              }
            ]
          },
          "default_source": "card_16jUJi44VM564LCCazT2ONnD"
        }
  recorded_at: Thu, 10 Sep 2015 12:38:20 GMT
recorded_with: VCR 2.9.3
