---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&description=Myflix%20signup%20charge&currency=gbp&source=tok_16gvmH44VM564LCCfrPNmK2H
    headers:
      Authorization:
      - Bearer sk_test_LQ2d3Gx2ltVvmkZv6bzzHHY8
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-08-19'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_16gvmI44VM564LCCfe5xL5i7"
          }
        }
  recorded_at: Thu, 03 Sep 2015 11:21:14 GMT
recorded_with: VCR 2.9.3
