---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&description=Myflix%20signup%20charge&currency=gbp&source=tok_16hKOH44VM564LCCRyl4cpCD
    headers:
      Authorization:
      - Bearer sk_test_LQ2d3Gx2ltVvmkZv6bzzHHY8
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-08-19'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_16hKOI44VM564LCCiP8TTf3j"
          }
        }
  recorded_at: Fri, 04 Sep 2015 13:38:06 GMT
recorded_with: VCR 2.9.3
