---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: source=tok_16jUJp44VM564LCCq64GX9fg&plan=1&email=tom%40tom.com
    headers:
      Authorization:
      - Bearer sk_test_LQ2d3Gx2ltVvmkZv6bzzHHY8
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-08-19'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "param": "",
            "code": "card_declined"
          }
        }
  recorded_at: Thu, 10 Sep 2015 12:38:26 GMT
recorded_with: VCR 2.9.3
