---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_16kBFo44VM564LCCp06XrqmL
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_LQ2d3Gx2ltVvmkZv6bzzHHY8
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-08-19'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_16kBFo44VM564LCCp06XrqmL",
          "created": 1442053748,
          "livemode": false,
          "type": "charge.succeeded",
          "data": {
            "object": {
              "id": "ch_16kBFo44VM564LCCzqVN3Url",
              "object": "charge",
              "created": 1442053748,
              "livemode": false,
              "paid": true,
              "status": "succeeded",
              "amount": 999,
              "currency": "gbp",
              "refunded": false,
              "source": {
                "id": "card_16kBFm44VM564LCCBpQH2FtK",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 9,
                "exp_year": 2017,
                "fingerprint": "oVapSLScRj2xH9u5",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "tokenization_method": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_6y7UvuCjdGwQKU"
              },
              "captured": true,
              "balance_transaction": "txn_16kBFo44VM564LCCuR9mWjFj",
              "failure_message": null,
              "failure_code": null,
              "amount_refunded": 0,
              "customer": "cus_6y7UvuCjdGwQKU",
              "invoice": "in_16kBFo44VM564LCCV151BXZA",
              "description": null,
              "dispute": null,
              "metadata": {},
              "statement_descriptor": "MYFLIX MONTHLY SUB",
              "fraud_details": {},
              "receipt_email": null,
              "receipt_number": null,
              "shipping": null,
              "destination": null,
              "application_fee": null,
              "refunds": {
                "object": "list",
                "total_count": 0,
                "has_more": false,
                "url": "/v1/charges/ch_16kBFo44VM564LCCzqVN3Url/refunds",
                "data": []
              }
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "req_6y7UPHID6rVRkv",
          "api_version": "2015-08-19"
        }
  recorded_at: Sat, 12 Sep 2015 12:08:57 GMT
recorded_with: VCR 2.9.3
