---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=9&card[exp_year]=2016&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_LQ2d3Gx2ltVvmkZv6bzzHHY8
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-08-19'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_16gu5M44VM564LCC2XRN5lEi",
          "livemode": false,
          "created": 1441272768,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_16gu5M44VM564LCC4cg4T1TW",
            "object": "card",
            "last4": "0002",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 9,
            "exp_year": 2016,
            "fingerprint": "fOXeIOGPd6vGV3LR",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": null,
            "address_zip_check": null,
            "tokenization_method": null,
            "dynamic_last4": null,
            "metadata": {}
          },
          "client_ip": "82.39.238.248"
        }
  recorded_at: Thu, 03 Sep 2015 09:32:48 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&description=Myflix%20signup%20charge&currency=gbp&source=tok_16gu5M44VM564LCC2XRN5lEi
    headers:
      Authorization:
      - Bearer sk_test_LQ2d3Gx2ltVvmkZv6bzzHHY8
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-08-19'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_16gu5N44VM564LCCtsBv1HvI"
          }
        }
  recorded_at: Thu, 03 Sep 2015 09:32:49 GMT
recorded_with: VCR 2.9.3
