---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=9&card[exp_year]=2016&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_LQ2d3Gx2ltVvmkZv6bzzHHY8
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-08-19'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_16jUK544VM564LCCU8BprNT0",
          "livemode": false,
          "created": 1441888721,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_16jUK544VM564LCCrGOvHmxH",
            "object": "card",
            "last4": "0002",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 9,
            "exp_year": 2016,
            "fingerprint": "fOXeIOGPd6vGV3LR",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": null,
            "address_zip_check": null,
            "tokenization_method": null,
            "dynamic_last4": null,
            "metadata": {}
          },
          "client_ip": "31.37.179.205"
        }
  recorded_at: Thu, 10 Sep 2015 12:38:41 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: source=tok_16jUK544VM564LCCU8BprNT0&plan=1&email=lemuel.metz%40hilll.info
    headers:
      Authorization:
      - Bearer sk_test_LQ2d3Gx2ltVvmkZv6bzzHHY8
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-08-19'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "param": "",
            "code": "card_declined"
          }
        }
  recorded_at: Thu, 10 Sep 2015 12:38:42 GMT
recorded_with: VCR 2.9.3
