---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=9&card[exp_year]=2016&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_LQ2d3Gx2ltVvmkZv6bzzHHY8
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-08-19'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_16kDPo44VM564LCCO6RNOmCf",
          "livemode": false,
          "created": 1442062056,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_16kDPo44VM564LCC8MHLAfJu",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 9,
            "exp_year": 2016,
            "fingerprint": "oVapSLScRj2xH9u5",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": null,
            "address_zip_check": null,
            "tokenization_method": null,
            "dynamic_last4": null,
            "metadata": {}
          },
          "client_ip": "31.37.179.205"
        }
  recorded_at: Sat, 12 Sep 2015 12:47:36 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: source=tok_16kDPo44VM564LCCO6RNOmCf&plan=1&email=louie_corwin%40schultzrolfson.info
    headers:
      Authorization:
      - Bearer sk_test_LQ2d3Gx2ltVvmkZv6bzzHHY8
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-08-19'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1442062057,
          "id": "cus_6y9jQZhPRoumRw",
          "livemode": false,
          "description": null,
          "email": "louie_corwin@schultzrolfson.info",
          "shipping": null,
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_6y9jQZhPRoumRw/subscriptions",
            "data": [
              {
                "id": "sub_6y9jHXUydgz0t0",
                "plan": {
                  "interval": "month",
                  "name": "Standard",
                  "created": 1441800546,
                  "amount": 999,
                  "currency": "gbp",
                  "id": "1",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_descriptor": "MYFLIX MONTHLY SUB"
                },
                "object": "subscription",
                "start": 1442062057,
                "status": "active",
                "customer": "cus_6y9jQZhPRoumRw",
                "cancel_at_period_end": false,
                "current_period_start": 1442062057,
                "current_period_end": 1444654057,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "tax_percent": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "gbp",
          "sources": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_6y9jQZhPRoumRw/sources",
            "data": [
              {
                "id": "card_16kDPo44VM564LCC8MHLAfJu",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 9,
                "exp_year": 2016,
                "fingerprint": "oVapSLScRj2xH9u5",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "tokenization_method": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_6y9jQZhPRoumRw"
              }
            ]
          },
          "default_source": "card_16kDPo44VM564LCC8MHLAfJu"
        }
  recorded_at: Sat, 12 Sep 2015 12:47:38 GMT
recorded_with: VCR 2.9.3
